Прописать параметры подключения к базе данных (Postgres) в файле config.yaml.
Создание базы данных производится через файл create_database.py,
если база данных существует, то этот шаг не требуется.
Запуск приложения провзодится из файла main.py, внутри файла прописать хост и порт соединения
(если не совпадают с указанными по умолчанию).